.footer {
  padding: 20px;
}

.footer__center {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__center img {
  margin-bottom: 10px;
  object-fit: contain;
  max-height: 2.5rem;
}

.footer__link {
  color: #d81f26;
  text-decoration: none;
}
